
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="label"></div>
<div class="py-5 container__custom">
    <div class="row" id="renderSearch">
        <div class="main-content">
            <div class="content-page">
                <div data-aos="fade-up" data-aos-duration="1000">
                    <h3 class="text-center font-weight-bold">CÂU CHUYỆN VỀ CHÚNG TÔI</h3>
                    <p class="text-center pb-5">“KFC là tên viết tắt của Kentucky Fried Chicken, một thương hiệu và mảng hoạt động của Yum! International Restaurant Group (Hoa Kỳ). KFC bán gà rán, một loại thức ăn nhanh ngày càng trở nên phổ biến ở các quốc gia đông dân trên toàn thế giới. Ngày nay, chuỗi KFC đã có mặt tại 109 quốc gia và vùng lãnh thổ trên thế giới, với hơn 20.000 nhà hàng phục vụ 12 triệu khách mỗi ngày..”</p>
                </div>
               
                <div style="padding: 70px 0" data-aos="fade-up" data-aos-duration="800">
                    <h3 class="text-center font-weight-bold">CỘT MỐC PHÁT TRIỂN</h3>
                    <p class="text-center">Năm 1997, KFC khai trương nhà hàng đầu tiên tại Thành phố Hồ Chí Minh ở Việt Nam. Cho đến ngày nay, chuỗi nhà hàng thức ăn nhanh này đã mở rộng sự hiện diện của mình lên hơn 140 nhà hàng tại 32 tỉnh thành của Việt Nam, cung cấp việc làm cho hơn 3.000 người và đóng góp đáng kể cho ngành công nghiệp thức ăn nhanh của Việt Nam cũng như sự hình thành của một thói quen tiêu dùng và văn hóa ẩm thực mới tại những khu vực mà KFC có mặt.</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-item">
                                <img src="/Images/1.jpg" class="d-block w-100" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img-item">
                                <img class="d-block w-100" src="/Images/2.jpg" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img-item">
                                <img class="d-block w-100" src="/Images/3.jpg" />
                            </div>
                        </div>
                    </div>
                    <p class="text-center mt-5">Hương vị độc đáo, lòng hiếu khách và bầu không khí của các nhà hàng là những yếu tố then chốt tạo nên thành công của KFC tại Việt Nam cũng như trên toàn thế giới. Ngoài ra, KFC được đánh giá cao là một công ty tốt thông qua nhiều hoạt động xã hội quan trọng.</p>
                </div>
            </div>
        </div>
    </div>
</div>



